<h1>Editing Prescription Drugs Type</h1>

<%= render 'form', prescription_drugs_type: @prescription_drugs_type %>

<%= link_to 'Show', @prescription_drugs_type %> |
<%= link_to 'Back', prescription_drugs_types_path %>
