<h1>Editing Patient Aacc Symptom</h1>

<%= render 'form', patient_aacc_symptom: @patient_aacc_symptom %>

<%= link_to 'Show', @patient_aacc_symptom %> |
<%= link_to 'Back', patient_aacc_symptoms_path %>
