<h1>Editing Complementary Tests Type</h1>

<%= render 'form', complementary_tests_type: @complementary_tests_type %>

<%= link_to 'Show', @complementary_tests_type %> |
<%= link_to 'Back', complementary_tests_types_path %>
