
<div class="margintop">
  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid ">
      <span class="navbar-text">
      <div class="">Paciente: <%= @paciente.surname %> 
         <%= @paciente.name %> -
          Consulta: <%= @aacc.idn %> <p>
          Fecha Consulta: <%= @aacc.created_at %></div>
      </span>
   </div>
  </nav>
</div>