<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <span class="navbar-text">
     <div>Paciente: <%= @paciente.surname %> 
        <%= @paciente.name %> 
        Consulta: <%= @aacc.idn %>
        Fecha Consulta: <%= @aacc.created_at %></div>
    </span>
  </div>
</nav>