            <div class="card">
            
            <h4>BUZON DE INTERCONSULTAS</h4>
            <div>
            <p>Buzón de entrada: <%=  %> 
                    <%=  %> 
               <p>             Solicitudes realizadas: <%= %>
                  <p>                  Crear solicitud interconsulta: <%=  %></div>
            </div>
            </div>