<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <span class="navbar-text">
     <div>Paciente: <%= @paciente.surname %> 
        <%= @paciente.name %> 
        Numero de Historia Clínica: <%= @paciente.nhc %></div>
    </span>
  </div>
</nav>