<< Volver a Sintomatología No-Cognitiva de la Consulta ‘XXX’
HR
H1 Test NPI
HR
H2 Delirios
Frecuencia (*) CHECKBOX
Gravedad (*) CHECKBOX
Molestia (*) CHECKBOX
H2 Alucinaciones
Frecuencia (*) CHECKBOX
Gravedad (*) CHECKBOX
Molestia (*) CHECKBOX
 
<h1>New NPI Test</h1>

<%= render 'form', patient_aacc_test: @patient_aacc_test %>
        
<%= link_to 'Back', patient_aacc_tests_path %>
