<< Volver a la Exploración Funcional de la Consulta ‘XXX’

Capacidad para usar el Teléfono SELECTBOX
Hacer Compras SELECTBOX
Preparación de la Comida
Cuidado de la Casa
Lavado de la Ropa
Uso de Medios de Transporte
Responsabilidad respecto a su Medicación
Manejo de sus Asuntos Económicos
BOTON Realizar Test de Lawton / Brody
Hr
H1 
HR
<h1>Test de LAWTON / BRODY</h1>

<%= render 'form', patient_aacc_test: @patient_aacc_test %>
        
<%= link_to 'Back', patient_aacc_tests_path %>
