<< Volver a la Exploración Funcional de la Consulta ‘XXX’
HR
H1 Test de BARTHEL
HR
Comida (*) CHECKBOX
	10 – Independiente. Capaz de comer por sí solo en un tiempo razonable. La comida puede ser cocinada y servida por otra persona
	5 – Necesita ayuda para cortar la carne, extender la mantequilla, etc., peso es capaz de comer solo
	0 – Dependiente. Necesita ser alimentado por otra persona.
MINIHR 
Lavado (Baño) (*) CHEBOX
	5 – Independiente. Capaz de lavarse entero, de entrar y salir del baño sin ayuda y de hacerlo sin que una persona supervise
	0 – Dependiente. Necesita algún tipo de ayuda o supervisión
MINIHR 
Vestido (*) CHECKBOX
	10 – Independiente. Capazde ponerse y quitarse la ropa sin ayuda
	5 – Necesita ayuda. Realiza sin ayuda más de la mitad de estas tareas en un tiempo razonable.
	0 – Dependiente. Necesita ayuda para las mismas.
MINIHR  

<hr>
<h1>New BARTHEL Test</h1>

<hr>
<hr>
<%= link_to 'Back', patient_aacc_tests_path %>
