HR
H1 Test de PFEIFFER
HR
Nivel educativo del Paciente
¿Qué día es hoy? (*) CHECKBOX
¿Qué día de la semana es hoy? (*) CHECKBOX
¿Dónde estamos ahora? (*) CHECKBOX Cualquier descripción es válida
¿Cuál es su numero de teléfono? (*) CHECKBOX
¿Cuántos años tiene? (*) CHECKBOX
¿Cuál es la fecha de su nacimiento? (*) CHECKBOX
¿Quién es ahora el Presidente del Gobierno? (*) CHECKBOX
¿Quién fue el anterior Presidente del Gobierno? (*) CHECKBOX
¿Cuáles son los dos apellidos de su marde? (*) CHECKBOX
Vaya restado de 3 en 3 desde 30 hasta llegar a 0. Repetir desde (*) CHECKBOX Cualquier error hace errónea

<h1>New PFEIFFER Test</h1>

<%= render 'form', patient_aacc_test: @patient_aacc_test %>
        
<%= link_to 'Back', patient_aacc_tests_path %>
