<h1>Editing Patient Aacc Disease</h1>

<%= render 'form', patient_aacc_disease: @patient_aacc_disease %>

<%= link_to 'Show', @patient_aacc_disease %> |
<%= link_to 'Back', patient_aacc_diseases_path %>
