<div class="card" style="padding:15px;max-width:300px;margin-top:1em">
<h2 class=""><%=@patient.surname%></h2>
<h1 class=""><%=@patient.created_at%></h1>
<h1 class=""><%=@patient.gender%></h1>
    <%= link_to "Ver más", @patient%>
</div>