<body>
    <h1>Registrar Nuevo Paciente</h1>
        <div class="row">
            <div class="large-container">
                <%= render 'form', patient: @patient %>
                <%= link_to 'Back', patients_path %>
            </div>
        </div>
</body>
