@import '~bootstrap/scss/bootstrap';
//== Colors
//
//## Gray and brand colors for use across Bootstrap.
.nav{
    background-color: #f7fbff;

}
.col-lg-10{
    background-color: white;
}

.small-container{
    width: 100%;
    max-width: 320px;
}
.img-responsive{
    max-width: 3vw;
    align-items: center;
}
.icon{
    max-width: 20px;
    align-items: center;
}
.test{
    background-color: rgb(186, 255, 186);
}
.large-container{
    width: 100%;
    max-width: 960px;
    padding: 30px 30px;
}
.center-block{
    margin: 0 auto;
}
.padding{
    padding: 10px 15px;
}
.margintop{
    margin-top: 0.5em;
}
.margin{
    margin: 1.0em;
}
.field{
    label{
        @extend .text-uppercase;
        @extend .text-secondary;
    }
&:first-of-type{
    margin-top: 0;
}
input{
    @extend.form-control;
    @extend .bg-light;
}
input[type='checkbox']{
    display: inline-block;
    width: auto;
    vertical-align: middle;
    margin-right: 0.5em;
}
}
body{
    background-color: #ffe9c9;
}
.card{
    background-color: white;
    margin-right: 0.5em;
}
$gray-base:              #000 !default;
$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
$gray-dark:              lighten($gray-base, 20%) !default;   // #333
$gray:                   lighten($gray-base, 33.5%) !default; // #555
$gray-light:             lighten($gray-base, 46.7%) !default; // #777
$gray-lighter:           lighten($gray-base, 93.5%) !default; // #eee

$brand-primary:         darken(#428bca, 6.5%) !default; // #337ab7
$brand-success:         #5cb85c !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;


//== Scaffolding
//
//## Settings for some of the most global styles.

//** Background color for `<body>`.
$body-bg:               #fff !default;
//** Global text color on `<body>`.
$text-color:            $gray-dark !default;

//** Global textual link color.
$link-color:            $brand-primary !default;
//** Link hover color set via `darken()` function.
$link-hover-color:      darken($link-color, 15%) !default;
//** Link hover decoration.
$link-hover-decoration: underline !default;