
<%= link_to '<< Volver a la Exploración Funcional de la Consulta ‘XXX’', patient_aacc_habits_path %>

<h1>Registrar Nuevo Hábito</h1>

<%= render 'form', patient_aacc_habit: @patient_aacc_habit %>

<%= link_to 'Back', patient_aacc_habits_path %>